#help_div
  %h1
    Add items
  %p
    With that, you can select the items you want to monitor. This is an auto-completion list, so you just have to type a part of the name of an item (example fury cruise).
    %ul
      %li
        If you select an item and then click the add item(s) button, it will add only that item.
      %li
        Otherwise it will add the full list of the shown items.
  %hr
  %h1
    Edit item list