{% extends 'base.html' %}
{% block content %}
<div class="table-responsive-md">
  <table class="table table-hover">
    <tr>
      <th>Trade hub</th>
      <th>Item</th>
      <th class="text-end">Est. margin</th>
      <th class="text-end">Est. margin %</th>
      <th class="text-end">Estimated buy volume</th>
    </tr>
    {% for cp in buy_orders %}
    <tr>
      <td class="trade_hub_name">{{ cp.trade_hub_name }}</td>
      <td class="item_name">
        <a href="/items/{{ cp.eve_item_id }}">{{ cp.eve_item_name }}</a>
      </td>
      {% set final_margin = cp.capped_margin if user.batch_cap else cp.full_margin %}
      <td class="text-end">{{ final_margin | isk }}</td>
      <td class="text-end">{{ cp.margin_pcent | pcent }}</td>
      <td class="text-end">{{ cp.over_approx_max_price_volume | vol }}</td>
    </tr>
    {% else %}
    <tr><td colspan="5" class="text-center text-muted">No buy orders found.</td></tr>
    {% endfor %}
  </table>
</div>
{% include 'shared/pagination.html' %}
{% endblock %}
