{% extends 'base.html' %}
{% block content %}
<h2>Components to buy</h2>
<div class="table-responsive-md">
  <table class="table">
    <tr>
      <th>Item</th>
      <th class="text-end">Qty to buy</th>
      <th class="text-end">Total cost</th>
      <th class="text-end">Required volume (m³)</th>
    </tr>
    {% for c in components %}
    <tr>
      <td><a href="{{ url_for('items.show', slug=c.eve_item_id) }}">{{ c.eve_item_name }}</a></td>
      <td class="text-end">{{ c.qtt_to_buy | vol }}</td>
      <td class="text-end">{{ c.total_cost | isk }}</td>
      <td class="text-end">{{ c.required_volume | vol }}</td>
    </tr>
    {% else %}
    <tr><td colspan="4" class="text-center text-muted">Nothing to buy.</td></tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
