.container

  = render partial: 'shared/errors'

  %table.table.table-bordered
    %thead
      %tr
        %th
          Check
        %th
          Name

    %tbody
      - @components.each do |components|
        %tr
          %th
            = components.name
          %th

  = will_paginate @components