%h1 Sale profits per clients

%table

  %tr
    %th
      Client
    %th
      Profit

  - @item_sums.each do |sum|
    %tr
      %td=link_to(sum[0][0], sale_records_clients_record_path(sum[0][1]))
      %td.cell_right_align= print_isk( sum[1].round )

  %tr
    %td= 'Total'
    %td.cell_right_align= print_isk( @total )


