-#%table
-#  - @required_quantities.each do |rq|
-#    %tr
-#      %td= rq.name
-#      %td= rq.qtt_to_buy.round

- @required_quantities.each do |rq|
  %p
    = "#{rq.name}\t#{rq.qtt_to_buy.ceil}\r\n".html_safe