- if @user.download_assets_running
  %h4
    Assets download in progress

- elsif @user.last_assets_download.nil?
  %h4
    Assets never downloaded

- else
  %h4
    Assets download finished. Last refresh :
    = @user.last_assets_download.localtime

- unless @user.download_assets_running
  = form_tag character_download_assets_start_path( @user ) do
    = submit_tag 'Download my assets', class: 'form-control'

