.container

  - if @shared_lists.count == 0
    %h4 Nobody shared a list to you
  - else

    = form_tag character_accept_shared_list_update_path( @user ) do

      %h4 Use the production list of (your list will be erased)

      = select_tag( :sending_character_id, options_for_select( @shared_lists ), class: 'form-control' )

      .row
        .col-md-12.text-center
          .actions
            = submit_tag 'Accept', class: 'btn btn-default'