.container

  = form_tag character_share_list_update_path( @user ) do

    %h4 You can share your production list to another user (your alt for example)

    = select( :user, :id, @users, {}, class: 'form-control' )

    .row
      .col-md-12.text-center
        .actions
          = submit_tag 'Share', class: 'btn btn-default'