#print_change_warning
  = @print_change_warning

.order_advice_containers
  %h2
    Margin lists
  %table
    %tr
      %th
      %th Trade hub
      %th Item
      %th Med Cost
      %th Med price
      %th Med Margin pcent
      %th Med Margin amount
      %th For
    - @prices_array.each do |item|
      %tr{ class: cycle( :odd, :even ) }
        %td=check_box_tag :dummy
        %td=item[:trade_hub]
        %td=item[:eve_item]
        %td.cell_right_align=print_isk(item[:cost])
        %td.cell_right_align=print_isk(item[:min_price])
        %td.cell_center_align="#{item[:benef_pcent]}%"
        %td.cell_right_align=print_isk(item[:benef])
        %td.cell_right_align=item[:batch_size]

.order_advice_containers
  %h2
    Shopping list
  %table
    %tr
      %th Item
      %th Amount
    - @item_count.each do |key, value|
      %tr
        %td=key
        %td.cell_center_align=value

.order_advice_containers
  %h2
    No concurent there
  %table
    %tr
      %th Trade hub
      %th Item
    - @no_concurent_array.each do |item|
      %tr
        %td=item[:trade_hub]
        %td=item[:eve_item]