-##print_change_warning
-#  = @print_change_warning

= ENV['HTTP_EVE_TRUSTED'].inspect

.order_advice_containers
  %h2
    My orders status
  %table
    %tr
      %th Trade hub
      %th Item
      %th Cost
      %th Min price
      %th Min price margin
      %th My price
      %th Diff
    - @compared_prices.each do |cp|
      %tr{ class: cycle( :odd, :even ) }
        %td=cp[:trade_hub_name]
        %td=cp[:eve_item_name]
        %td.cell_right_align=print_isk( cp[:cost] )
        %td.cell_right_align=print_isk( cp[:min_price] )
        %td.cell_right_align=print_pcent( cp[:margin_pcent] )
        %td.cell_right_align=print_isk( cp[:my_price] )
        %td.cell_right_align
          = print_isk( ( cp[:min_price] - cp[:my_price] ) ) if cp[:min_price] && cp[:my_price] && cp[:min_price].class != String
        %td
          %button{ onclick: "CCPEVE.showMarketDetails(#{cp[:eve_item_cpp_id]})" }
            Show Market Details
        %td
          %button{ onclick: "CCPEVE.setDestination(#{cp[:trade_hub_cpp_id]})" }
            Set Destination

