%h1 PriceAdvices#show

%table
  - @prices_array.each do |item|
    %tr
      %td=item[:trade_hub]
      %td=item[:eve_item]
      %td=item[:cost]
      %td=item[:min_price]
      %td="#{item[:benef_pcent]}%"
      %td=number_to_currency(item[:benef], unit: "ISK ", separator: ",", delimiter: " ")

%br
%h2
  No concurent there
%table
  - @no_concurent_array.each do |item|
    %tr
      %td=item[:trade_hub]
      %td=item[:eve_item]