%h1 Sale profits per station

%table

  %tr
    %th
      Station
    %th
      Profit

  - @item_sums.each do |sum|
    %tr
      %td=sum[0]
      %td.cell_right_align= print_isk( sum[1].round )

  %tr
    %td= 'Total'
    %td.cell_right_align= print_isk( @total )


