- if @user.download_orders_running
  %h4
    Orders download in progress

- elsif @user.last_orders_download.nil?
  %h4
    Orders never downloaded

- else
  %h4
    Orders download finished. Last refresh :
    = @user.last_orders_download.localtime

- unless @user.download_orders_running
  = form_tag download_orders_start_path do
    = submit_tag 'Download my orders', class: 'form-control'

