{% extends 'base.html' %}
{% block content %}
<h2>{{ item.name }} - Market overview</h2>
{% if item.base_item %}
<div class="table-responsive-md">
  <table class="table">
    <tr>
      <th>Trade hub</th>
      <th class="text-end">Min price</th>
      <th class="text-end">Volume</th>
    </tr>
    {% for pm in item_prices %}
    <tr>
      <td>{{ pm.trade_hub.name }}{% if pm.trade_hub.region %} ({{ pm.trade_hub.region.name }}){% endif %}</td>
      <td class="text-end">{{ pm.min_price | isk }}</td>
      <td class="text-end">{{ pm.volume | vol }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% else %}
<div class="table-responsive-md">
  <table class="table">
    <tr>
      <th>Trade hub</th>
      <th class="text-end">Min price</th>
      <th class="text-end">Avg monthly margin %</th>
      <th class="text-end">Volume/month</th>
    </tr>
    {% for ap in advice_prices %}
    <tr>
      <td>{{ ap.trade_hub_name }}</td>
      <td class="text-end">{{ ap.min_price | isk }}</td>
      <td class="text-end">{{ ap.avg_monthly_margin_percent | pcent }}</td>
      <td class="text-end">{{ ap.vol_month | vol }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% endblock %}
