{% extends 'base.html' %}
{% block content %}
<h2>My sales orders</h2>
<div class="table-responsive-md">
  <table class="table">
    <tr>
      <th>Trade hub</th>
      <th>Item</th>
      <th class="text-right">My price</th>
      <th class="text-right">Min price</th>
      <th class="text-right">Delta</th>
      <th class="text-right">Margin %</th>
    </tr>
    {% for order in orders %}
    <tr>
      <td>{{ order.trade_hub_name }}</td>
      <td><a href="/items/{{ order.eve_item_id }}">{{ order.eve_item_name }}</a></td>
      <td class="text-right">{{ order.my_price | isk }}</td>
      <td class="text-right">{{ order.min_price | isk }}</td>
      <td class="text-right">{{ order.price_delta | isk }}</td>
      <td class="text-right">{{ order.min_price_margin_pcent | pcent }}</td>
    </tr>
    {% else %}
    <tr><td colspan="6" class="text-center text-muted">No orders.</td></tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
