#help_div

  %h1
    Items

  %p
    In this section, you can manage the items you want to monitor.

    You can :
    %ul
      %li= link_to( 'Add new items', items_add_new_helps_path )
      %li
        Edit your item list
