.container
  %table.table
    %tr
      %th
        Component
      %th.text-right
        Quantity
      %th.text-right
        Price
    - @required_quantities.each do |rq|
      %tr{ class: cycle( :odd, :even ) }
        %td= rq.name
        %td.text-right= link_to print_volume( rq.qtt_to_buy.round ), component_path( rq.id )
        %td.text-right= print_isk rq.total_cost
