{% extends 'base.html' %}
{% block content %}
{% set total_for_batch = namespace(value=0) %}
<table class="table my-3">
  <tr>
    <th>Item</th>
    <th class="text-end">Unit cost</th>
    <th class="text-end">Required quantity</th>
    <th class="text-end">Total cost</th>
  </tr>
  {% for material in item.blueprint.blueprint_materials if item.blueprint %}
    {% set component = material.universe_type %}
    {% if component %}
      {% set total = (component.cost or 0) * material.required_qtt %}
      {% set _ = total_for_batch.__setattr__('value', total_for_batch.value + total) %}
      <tr>
        <td><a href="/items/{{ component.id }}">{{ component.name }}</a></td>
        <td class="text-end">{{ component.cost | isk }}</td>
        <td class="text-end">{{ material.required_qtt | vol }}</td>
        <td class="text-end">{{ total | isk }}</td>
      </tr>
    {% endif %}
  {% endfor %}
  <tr>
    <td colspan="3">Total for batch</td>
    <td class="text-end">{{ total_for_batch.value | isk }}</td>
  </tr>
  {% if item.blueprint %}
  <tr>
    <td colspan="3">Batch size</td>
    <td class="text-end">{{ item.blueprint.prod_qtt | vol }}</td>
  </tr>
  {% set total_per_item = total_for_batch.value / item.blueprint.prod_qtt if item.blueprint.prod_qtt else 0 %}
  <tr>
    <td colspan="3">Total for one item</td>
    <td class="text-end">{{ total_per_item | isk }}</td>
  </tr>
  <tr>
    <td colspan="3">Taxes and setup costs estimation</td>
    <td class="text-end">{{ ((taxes - 1) * 100) | round(2) }} %</td>
  </tr>
  <tr>
    <td colspan="3">Final cost</td>
    <td class="text-end">{{ (total_per_item * taxes) | isk }}</td>
  </tr>
  {% endif %}
</table>
{% endblock %}
