%table.table.table-bordered.sortable.my-3
  %thead
    %tr
      %th.text-center Price
      %th.text-center Volume
      %th.text-center Date
      %th.text-center Order id

  %tbody
    - @orders.each_with_index do |order|
      %tr
        %td.text-right= print_isk order.price
        %td.text-right= print_volume order.volume_remain
        %td.text-center= order.updated_at
        %td.text-center= order.order_id