.container

  %h1
    = @item.name

  %p
    More details at :
    = link_to( 'eveinfo.com', "https://eveinfo.com/item/#{@item.cpp_eve_item_id}", :target => '_blank' )

  %p
    Volume :
    = @item.volume
    m2
