= render partial: 'items/breadcrumb'

%ul
  - @groups.each do |group|
    %li
      - if group.is_a?( MarketGroup )
        = link_to group.name, all_items_list_list_items_path( group_id: group.id )
      - else
        = link_to group.name, item_path( group )