.container

  %h4 Items you checked in the monthly or daily earnings screens

  %table.table
    %tr
      %th
      %th Trade hub
      %th Item
    - @basket.each do |basket|
      %tr{ class: cycle( :odd, :even ) }
        %td= shopping_basket_check_box_shopping_basket( basket )
        %td= basket.trade_hub.name
        %td= link_to( basket.eve_item.name, item_path( basket.eve_item_id ) )