.order_advice_containers

  %h2
    My selected (trade hubs/items)

  %table
    %tr
      %th
      %th Trade hub
      %th Item
    - @basket.each do |basket|
      %tr{ class: cycle( :odd, :even ) }
        %td= shopping_basket_check_box_shopping_basket( basket )
        %td= basket.trade_hub.name
        %td= basket.eve_item.name

