%ul.list-group

  - @items.each do |item|
    - if @item_ids
      %li.list-group-item.d-flex.justify-content-between.align-items-center
        .mr-1
          = check_box_tag "items[#{item.id}]", 1, @item_ids.include?( item.id ), class: 'item_checkbox', item_id: item.id,
            'data-toggle' => 'toggle', 'data-on' => 'Watch', 'data-off' => 'Ignore', 'data-size' => 'large'

        = link_to item.name, item_path( item.slug ), class: 'list-group-item list-group-item-action'

    - else
      = link_to item.name, item_path( item.slug ), class: 'list-group-item list-group-item-action'
