-#- if @user
-#  .mr-3
-#    = link_to 'Clear list', clear_list_items_path, class: 'btn btn-secondary'

-#%table.table.table-hover
-#  %thead
-#    %tr
-#      - if @user
-#        %th.text-center Selected
-#
-#      %th
-#        Name
-#
-#  %tbody
-#    - @items.each do |item|
-#      %tr
-#        - if @user
-#          %td.text-center
-#            = check_box_tag "items[#{item.id}]", 1, @item_ids.include?( item.id ), class: :item_checkbox, item_id: item.id
-#
-#        %td= link_to( item.name, item_path( item ) )

.list-group
  -#- @groups.each do |group|
  -#  = link_to group.name, all_items_list_list_items_path( group_id: group.id ), class: 'list-group-item list-group-item-action'

  - @items.each do |item|
    .row
      - if @item_ids
        .col-1
          .mt-1.ml-3
            = check_box_tag "items[#{item.id}]", 1, @item_ids.include?( item.id ), class: :item_checkbox, item_id: item.id, 'data-toggle' => 'toggle'
      .col
        = link_to item.name, item_path( item.slug ), class: 'list-group-item list-group-item-action'