.container

  :plain
    <script async src="https://cse.google.com/cse.js?cx=005910420785336220599:hkp8yqszv40"></script>
    <div class="gcse-search"></div>

  - if @items
    = render partial: 'items_list'
  - else
    = render partial: 'groups_list'
