body
  //background-color: black
  font-family: "freight-sans-pro",sans-serif

h1
  font-size: 1em
  font-weight: bold

h2
  font-size: 1em
  font-weight: normal

#selection_div
  margin-top: 50px
  margin-left: 10px
