.save_message_box_success
  padding: 15px
  border-radius: 5px
  webkit-border-radius: 5px
  moz-border-radius: 5px

.save_message_box_failure
  padding-left: 15px
  padding-top: 15px
  padding-bottom: 5px
  border-radius: 5px
  webkit-border-radius: 5px
  moz-border-radius: 5px

#error_area
  width: 1260px
  height: 30px
  //background-color: red
  color: black
  display: none
  border: solid 2px red
  margin-bottom: 10px
  padding-left: 10px

//.tooltip-inner
//  white-space: pre
//  max-width: none