.save_message_box_success
  padding: 15px
  border-radius: 5px
  webkit-border-radius: 5px
  moz-border-radius: 5px

.save_message_box_failure
  padding-left: 15px
  padding-top: 15px
  padding-bottom: 5px
  border-radius: 5px
  webkit-border-radius: 5px
  moz-border-radius: 5px