@import "colors"

#topbar
  // background-color: #1B1B1B
  // background-image: linear-gradient(to bottom, #333, #111)
  background-color: $common_background_color
  color: $common_text_color
  background-repeat: repeat-x
  border-color: #252525
  border-bottom: 2px none
  box-shadow: 0px 2px rgba(0, 0, 0, 0.2)
  height: 40px
  padding: 5px

#eve_logo
  padding-top: 10px
  padding-left: 10px

#menu ul
  float: left
  width: 100%
  padding: 0
  margin: 0
  list-style-type: none

#menu ul li
  display: inline

#menu a
  float: left
  width: 10em
  text-decoration: none
  background-color: $common_background_color
  color: $common_text_color
  // background-image: linear-gradient(to bottom, #333, #111)
  background-repeat: repeat-x
  padding: 0.2em 0.6em
  border-right: 1px solid white
  border-top: 1px solid white
  text-align: center

#menu a:hover
  background-color: #ececec
  background-image: none
  color: black

