#login_area
  margin: 300px auto
  width: 320px

#sign_in
  width: 300px

#facebook_icon
  background-image: url( 'icons/facebook.png' )
  width: 16px
  height: 16px
  display: inline-block
  vertical-align: top