#login_area
  margin: 200px auto
  width: 320px

#sign_in
  width: 300px

.sign_in_class
  @extend #sign_in
  float: left
  text-decoration: none
  color: #999
  background-color: #1B1B1B
  background-image: linear-gradient(to bottom, #333, #111)
  background-repeat: repeat-x
  padding: 0.2em 0.6em
  border-right: 1px solid white
  border-top: 1px solid white
  text-align: center

.input_class
  width: 199px

#facebook_icon
  background-image: url( 'icons/facebook.png' )
  width: 16px
  height: 16px
  display: inline-block
  vertical-align: top