#login_area
  margin: 200px auto
  width: 320px

#sign_in
  width: 300px

.sign_in_class
  @extend #sign_in
  float: left
  text-decoration: none
  color: #999
  background-color: #1B1B1B
  background-image: linear-gradient(to bottom, #333, #111)
  background-repeat: repeat-x
  padding: 0.2em 0.6em
  border-right: 1px solid white
  border-top: 1px solid white
  text-align: center

.input_class
.sign_in_table

.credential_input_class
  width: 199px

.sign_in_label
  text-align: left

.sign_in_input
  text-align: right

.or_separator
  width: 300px
  text-align: center
  float: left

.credential_span_input_class
  float: right

.log_in_span_input_class
  width: 320px
  text-align: center

#facebook_icon
  background-image: asset-url( 'icons/facebook.png' )
  width: 16px
  height: 16px
  display: inline-block
  vertical-align: top