.container

  = render partial: 'shared/errors'

  %h3 Select items you want to monitor

  #tree

= hidden_field_tag :items_tree, @json_tree
= hidden_field_tag :item_ids, @item_ids.to_json
= hidden_field_tag :choose_items_edit, true