.container

  %h3
    Type the name of items you want to monitor

    -# doc is wrong, use 'data-append-to' => '#test_append' instead of append_to
    -#= form_tag '/choose_items' do
    .row
      .col-md-9
        .form-group
          %input#add-items-autocomplete.form-control{ placeholder: 'Add item' }

      .col-md-3
        = submit_tag 'Add the item(s)', class: 'btn btn-default'

= hidden_field_tag 'choosen_item'