.container

  %h1.my-4

    Development log

  %h3.my-4
    First release (September 2018)

  %ul.my-4
    %li
      Best buy prices for your items regarding trade hub
    %li
      Min prices over trade hubs
    %li
      Production list
    %li
      Assets handling
    %li
      Blueprint optimisation handling