= render partial: 'layouts/breadcrumb'

- unless @no_title_header
  .my-3
    %h1{ class: ( @meta_content ? 'title-with-question-mark' : nil ) }
      = raw( @title ? @title : 'Title to be set' )
    = help_tooltip_from_meta_content if @meta_content

= yield