#topbar
  #eve_logo
    Eve business server

#menu
  = link_to 'Add items', new_choose_item_path
  |
  -# TODO : change the user once we have one
  = link_to 'Edit items list', edit_choose_item_path(1)
  |
  -# TODO : change the user once we have one
  = link_to 'Chose trade hubs', edit_choose_trade_hub_path(1)
  |
  -# TODO : change the user once we have one
  = link_to 'Advice prices', price_advice_path(1)